In [3]:
# Import the dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [4]:
# Read the CSV files
patient_data = Path('../Data/mimic-iii-clinical-database-demo-1.4/PATIENTS.csv')
admission_data = Path('../Data/mimic-iii-clinical-database-demo-1.4/ADMISSIONS.csv')
icu_stays_data = Path('../Data/mimic-iii-clinical-database-demo-1.4/ICUSTAYS.csv')
diagnosis_data = Path('../Data/mimic-iii-clinical-database-demo-1.4/D_ICD_DIAGNOSES.csv')

patient_df = pd.read_csv(patient_data)
admission_df = pd.read_csv(admission_data)
icu_stays_df = pd.read_csv(icu_stays_data)
diagnosis_df = pd.read_csv(diagnosis_data)

In [5]:
# Display the first 5 rows of the patient data
patient_df.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [6]:
# Get the number of unique patients
patient_count = patient_df['subject_id'].nunique()
patient_count

100

In [7]:
# Display the first 5 rows of the admission data
admission_df.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,12258,10006,142345,2164-10-23 21:09:00,2164-11-01 17:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,SEPARATED,BLACK/AFRICAN AMERICAN,2164-10-23 16:43:00,2164-10-23 23:00:00,SEPSIS,0,1
1,12263,10011,105331,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Private,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,HEPATITIS B,1,1
2,12265,10013,165520,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,SEPSIS,1,1
3,12269,10017,199207,2149-05-26 17:19:00,2149-06-03 18:42:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-05-26 12:08:00,2149-05-26 19:45:00,HUMERAL FRACTURE,0,1
4,12270,10019,177759,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,NaN,NaN,ALCOHOLIC HEPATITIS,1,1

In [8]:
# Get the number of unique admissions
admission_count = admission_df['hadm_id'].nunique()
admission_count

129

In [9]:
# Display the first 5 rows of the ICU stays data
icu_stays_df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938

In [10]:
# Get the number of unique ICU stays
icu_stays_count = icu_stays_df['icustay_id'].nunique()
icu_stays_count

136

In [11]:
# Get the number of unique days recorded in the ICU stays data
icu_stays_df['intime'] = pd.to_datetime(icu_stays_df['intime'])
unique_days = icu_stays_df['intime'].dt.date.nunique()
unique_days

136

In [12]:
# Get the earliest and latest dates recorded in the ICU stays data
earliest_date = icu_stays_df['intime'].min()
latest_date = icu_stays_df['intime'].max()
earliest_date, latest_date

(Timestamp('2102-08-31 17:04:12'), Timestamp('2202-10-03 01:46:32'))

In [13]:
# Display the first 5 rows of the diagnosis data
diagnosis_df.head()

,row_id,icd9_code,short_title,long_title
0,1,01716,Erythem nod tb-oth test,Erythema nodosum with hypersensitivity reactio...
1,2,01720,TB periph lymph-unspec,"Tuberculosis of peripheral lymph nodes, unspec..."
2,3,01721,TB periph lymph-no exam,"Tuberculosis of peripheral lymph nodes, bacter..."
3,4,01722,TB periph lymph-exam unk,"Tuberculosis of peripheral lymph nodes, bacter..."
4,5,01723,TB periph lymph-micro dx,"Tuberculosis of peripheral lymph nodes, tuberc..."

In [14]:
# Get the number of unique diagnoses
diagnosis_count = diagnosis_df['icd9_code'].nunique()
diagnosis_count

14567

In [15]:
procedure_data = Path('../Data/mimic-iii-clinical-database-demo-1.4/D_ICD_PROCEDURES.csv')
procedure_df = pd.read_csv(procedure_data)
procedure_df.head()

,row_id,icd9_code,short_title,long_title
0,1,1423,Chorioret les xenon coag,Destruction of chorioretinal lesion by xenon a...
1,2,1424,Chorioret les laser coag,Destruction of chorioretinal lesion by laser p...
2,3,1425,Chorioret les p/coag NOS,Destruction of chorioretinal lesion by photoco...
3,4,1426,Chorioret les radiother,Destruction of chorioretinal lesion by radiati...
4,5,1427,Chorioret les rad implan,Destruction of chorioretinal lesion by implant...

In [16]:
# Get the number of unique procedures
procedure_count = procedure_df['short_title'].nunique()
procedure_count

3882

In [17]:
procedure_df.shape

(3882, 4)

In [ ]:
#